{%extends "teacher_base.html"%}
{%block title%}Your Meetings{%endblock%}
{%block head%}Your Meetings{%endblock%}
{%block content%}
    <form action="#" method="POST">
        <div class="row">
            {%for meeting in meetings%}
                <div class="col-md-4">
                    <div class="meeting-card">
                        <h1>Meeting</h1>
                        <p>{{meetings[meeting][0]}}</p>
                        <p>{{meetings[meeting][1]}}, {{meetings[meeting][2]}}</p>
                        <p>{{meetings[meeting][3]}}</p>
                        <button type="submit" id="meeting_id" name="meeting_id" value={{meeting.id}} class="btn">Cancel</button>
                    </div>
                </div>
            {%endfor%}
        </div>
    </form>
{%endblock%}